@font-face {
	font-family: "04B_03__";
	src: url("fonts/04B_03__.TTF") format('truetype');
	src: url("fonts/04B_03__.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "minesweeper";
	src: url("fonts/mine-sweeper.ttf") format('truetype');
	src: url("fonts/mine-sweeper.otf") format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "04B_03__";
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	background-color: #1a1a1a;
	font-size: medium;
}

h1 {
	font-family: "04B_03__";
	letter-spacing: 1.5px;
	color: #afafaf;
}

form {
	color: #afafaf;
}

input {
	font-family: "04B_03__";
	color: #afafaf;
	background-color: #1a1a1a;
}

textarea {
	font-family: "04B_03__";
	color: #afafaf;
	background-color: #1a1a1a;
}

.board {
	display: inline-block;
	margin: 20px;
}

.cell {
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	cursor: pointer;
	background-color: #1a1a1a;
	border-style: outset;
	border-color: buttonborder;
}

.revealed {
	font-family: "04B_03__";
	background-color: #1a1a1a;
	border-style:inset;
}

.mine {
	font-family: "minesweeper";
	font-size: 20px;
	background-color: #1a1a1a;
	color: #afafaf;
	border-style:inset;
}

.number1 {
	color: #228bcf;
}

.number2 {
	color: #20af5d;
}

.number3 {
	color: #cf3e2d;
}

.number4 {
	color: #af49ad;
}

.number5 {
	color: #df9502;
}

.number6 {
	color: #36ccb8;
}

.number7 {
	color: #e77000;
}

.number8 {
	color: #5caace;
}

.flag {
	font-family: "minesweeper";
	font-size: 20px;
	background-color: #1a1a1a;

	/* Color for revealed tile text */
	color: #be3333;
}